{% extends "layout.html.twig" %}
{% set actualUser = app.session.get('user') %}
{% block title %} {{ parent() }} - Administration des utilisateurs{% endblock %}

{% block content %}
<div class="row">
  <h3>Administration des utilisateurs :</h3>
  <div id="users">
    <input class="search" type="search" placeholder="Chercher un utilisateur">
    <p>Cliquer sur le nom de la colonne pour trier</p>
    <table width="100%">
      <thead>
        <tr>
          <th class="sort" data-sort="id">Id</th>
          <th class="sort" data-sort="surname">Nom</th>
          <th class="sort" data-sort="name">Prenom</th>
          <th class="sort" data-sort="mail">Mail</th>
          <th class="sort" data-sort="rank">Rang</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="list">
          {% for user in users  %}
          <tr>
            <td class="id">{{user.id}}</td>
            <td class="surname">{{user.surname}}</td>
            <td class="name">{{user.name}}</td>
            <td class="mail">{{user.mail}}</td>
            <td class="rank">{{user.rank}}</td>
            <td>
              <button class="secondary button small"><i class="fa fa-pencil" aria-hidden="true"></i></button>
              <button class="alert button small"><i class="fa fa-times" aria-hidden="true"></i></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
    Pages : <ul class="pagination" style="display: inline-block;"></ul>
  </div>
</div>
{% endblock %}

{% block JS %}
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.3.0/list.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.pagination.js/0.1.1/list.pagination.min.js"></script>
<script>
/* Allows the user to order the table as it please and to search in it */
   var options = {
    valueNames: [ 'id', 'name', 'surname', 'mail', 'rank' ],
    page: 5,
    plugins: [ ListPagination({}) ]
  };
  var userList = new List('users', options);
</script>
<script src="{{url('homepage')}}/public/js/paginationAutoStyle.js"></script>
<script>paginationStyle()</script>
{% endblock %}
