<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Au Bois des Sylves{% endblock %}</title>
		<link rel="stylesheet" href="{{ url('homepage') }}/public/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="{{ url('homepage') }}/public/css/foundation.min.css"/>
		<link rel="stylesheet" href="{{ url('homepage') }}/public/css/style.css"/>
		<script type="text/javascript" src="{{ url('homepage') }}/public/js/checkConnect.js"></script>
		<script type="text/javascript" src="{{ url('homepage') }}/public/js/userEdit.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="Description" content="Au Bois Des Sylves vous permet d'obtenir des objets et bijous en bois fait main">
	</head>
<body>
	<!-- When using a phone displays a hamburger menu -->
	<div class="top-accordion" data-animate="hinge-in-from-top hinge-out-from-top" data-responsive-toggle="header-menu" data-hide-for="medium">
		<button class="menu-icon" type="button" data-toggle="header-menu"></button>
		<div class="title-bar-title">Au Bois des Sylves</div>
	</div>
	{% if globalError is defined and globalError is not null and globalError != "" %}
	<div class="warning callout large" data-closable>
	  <p>{{message}}</p>
	  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	{% endif %}
<div id="header-menu">
	<div class="top" >
		<header>
			<div class="row" >
				<div class="medium-5 columns"><img id="logoCerf" src="{{ url('homepage') }}/public/img/cerf.svg"><h4 id="headerText" class="displayInlineBlock badScriptFont">Au Bois des Sylves</h4>
				</div>
					<div class="medium-5 columns">
							<!--<form action="{{url('homepage')}}product/search" method="GET">
							<ul class="menu">
					        <li><input type="search" name="keyword" placeholder="Rechercher un produit ..."></li>
					        <li><button type="submit" class="darkBrown button"><i class="fa fa-search"></i></button></li>
						</ul>
					</form>-->
		  		</div>

		  		<div class="large-2 columns">
						<!-- Dropdown menu if user is connected -->
						<ul class="dropdown menu userMenu " data-dropdown-menu>
						{% if app.session.get('user') is not empty %}
							<li>
								<button class="darkBrown button">{{app.session.get('user').name}}</button>
								<ul class="menu">
									<li><a href="{{url('profile')}}">Mon profil / Mes commandes</a></li>
									<li><a href="{{url('logoutAction')}}">Deconnexion</a></li>
								</ul>
							</li>
								{% if app.session.get('user').rank == 0 %}
									<li>
										<button class="darkBrown button">Admin</button>
										<ul class="menu">
											<li><a href="{{url('adminUsers')}}">Utilisateurs</a></li>
											<li><a href="{{url('adminProducts')}}">Produits</a></li>
											<li><a href="{{url('adminOrders')}}">Commandes</a></li>
										</ul>
									</li>
								{% endif %}
						{% else %}
							<li><button class="darkBrown button" data-open="connectModal" data-toggle="user-menu-drop"><i class="fa fa-user"></i></button>
							{% include 'connectModal.html.twig' %}
						{% endif %}
						{% if app.session.get('user') is not null %}
						<li>
							<a href="{{url('basket')}}" style="margin:0; padding:0;"><button class="darkBrown button"><i class="fa fa-shopping-cart"></i></button></a>
						</li>
						{% endif %}
					</ul>
		  		</div>
				</div><!-- EndRow -->
			</div>
		</header>
		<nav class="darkBrown badScriptFont wood">
			<div class="row">
				<ul class="vertical medium-horizontal menu">
        <li><a href="{{url('homepage')}}">Accueil</a></li>
				<li><a href="{{url('products')}}">Tous les produits</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div style="margin-top: 10px;">
    {% block content %} {% endblock %}
	</div>
    <footer>
        <hr>
        <div class="row">
            Tous droits réservés, Au Bois Des Sylves, 2016
        </div>
    </footer>
		{% block JS %} {% endblock %}
    <script type="text/javascript" src="{{ url('homepage') }}/public/js/lib/jquery.js"></script>
    <script type="text/javascript" src="{{ url('homepage') }}/public/js/lib/foundation.min.js"></script>
    <script type="text/javascript" src="{{ url('homepage') }}/public/js/app.js"></script>
		<script> checkConnectOnSend(); checkSignupOnSend();</script>
		<script> checkPasswordModify(); </script>
</body>
</html>
