<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Au Bois des Sylves{% endblock %}</title>
		<link rel="stylesheet" href="{{ url('homepage') }}/public/css/style.css"/>
		<link rel="stylesheet" href="{{ url('homepage') }}/public/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="{{ url('homepage') }}/public/css/foundation.min.css"/>
	</head>
<body class="beigeBackground">
	<div class="top">
		<header>
			<div class="row">

				<div class="small-5 columns"><img id="logoCerf" src="{{ url('homepage') }}/public/img/cerf.svg"><h4 id="headerText" class="displayInlineBlock badScriptFont">Au Bois des Sylves</h4></div>
		  		<div class="small-5 columns">
					<ul class="menu">
				        <li><input type="search" placeholder="Rechercher un article"></li>
				        <li><button type="button" class="darkBrown button">Search</button></li>
					</ul>
		  		</div>
		  		<div class="small-2 columns">
							<!-- If the user is connected , change the menu a bit... -->
					<div class="row medium-collapse">
							{% if app.session.get('user') is not empty %}
						<div class="large-6 medium-push-3 medium-2 columns">
								<a href="{{url('logoutAction')}}"><button class="darkBrown button">Profil</button></a>
							{% else %}
						<div class="medium-6  medium-push-4 columns ">
								<button class="darkBrown button" data-open="connectModal" data-toggle="user-menu-drop"><i class="fa fa-user"></i></button>
								{% include 'connectModal.html.twig' %}
							{% endif %}
						</div>
						<div class="medium-5 columns">
					    	<button class="darkBrown button"><i class="fa fa-shopping-cart"></i></button>
						</div>
		  		</div>
				</div>
			</div>
		</header>
		<nav  class="darkBrown badScriptFont">
			<div class="row">
				<ul class="vertical medium-horizontal menu">
        <li><a href="{{url('homepage')}}">Accueil</a></li>
				{% for category in categories %}
					<li><a href="#">{{category.name}}</a></li>
				{% endfor %}
				</ul>
			</div>
		</nav>
	</div>

    {% block content %} {% endblock %}

    <footer>
        <hr>
        <div class="row">
            Tous droits réservés, Au Bois Des Sylves, 2016
        </div>
    </footer>

    <script type="text/javascript" src="{{ url('homepage') }}/public/js/lib/jquery.js"></script>
    <script type="text/javascript" src="{{ url('homepage') }}/public/js/lib/foundation.min.js"></script>
    <script type="text/javascript" src="{{ url('homepage') }}/public/js/app.js"></script>
		<script type="text/javascript" src="{{ url('homepage') }}/public/js/checkConnect.js"></script>

</body>
</html>
